{{#with detalleCoche}}
<figure>
    <img src="{{this.foto}}" alt="Foto coche">
</figure>
<h1>{{this.marca }} {{this.modelo}}</h1>
<h2>{{this.combustible}} {{this.color}}</h2>
<p>transmision: {{this.transmision}} precio venta: {{this.precio_venta}}</p>
<a href="/formularioEditar/{{this._id}}">Editar</a>
 <a href="/borrarCoche/{{this._id}}">Borrar</a>

{{/with}}