<form action="/editarCoche/{{this._id}}" method="POST"> {{!Se crea aquí en el front la url en la que se llama al controlador (a través del router) que permite editar un nuevo coche identificado mediante su id (que almaceno en su url mediante la sintaxis this.id), .editarCoche}}
     <fieldset> {{!El name del input tiene que coincidir con los atributos del modelo models/Coche.js}}
         <label for="marca">Marca</label>
         <input name="marca"type="text" value="{{this.marca}}">

         <label for="modelo">Modelo</label>
         <input name="modelo"type="text" value="{{this.modelo}}">

         <label for="color">Color</label>
         <input name="color"type="text" value="{{this.color}}">

         <label for="anio">Año</label>
         <input name="anio"type="text" value="{{this.anio}}">

         <label for="combustible">Combustible</label>
         <input name="combustible"type="text" value="{{this.combustible}}">

         <label for="transmision">Transmisión</label>
         <input name="transmision"type="text" value="{{this.transmision}}">

         <label for="precio_venta">Precio venta</label>
         <input name="precio_venta"type="text" value="{{this.precio_venta}}">

         <label for="foto">Foto</label>
         <input name="foto"type="text" value="{{this.foto}}">

         <input value="Enviar"type="submit">
    </fieldset> 

    
</form>